@font-face {
  font-weight: 400;
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
}

body {
  font-family: 'Pretendard-Regular', sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 800px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.frame-image {
  position: absolute;
  top: calc(50% - 40px);
  left: 50%;
  width: 335px;
  height: auto;
  transform: translate(-50%, -50%);
}

.title {
  position: absolute;
  top: calc(50% - 320px);
  left: calc(50% - 122px);
  margin-top: 2px;
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

.innerDiary-container {
  position: absolute;
  top: calc(58% - 40px);
  left: 50%;
  width: 251px;
  height: 400px;
  padding: 10px;
  transform: translate(-50%, -50%);
}

/* footer */
.footer a {
  font-size: 12px;
  color: #2f4858;
  text-decoration: none;
}

#go-back {
  position: absolute;
  bottom: calc(50% - 280px);
  left: calc(50% - 122px);
}

#show-reply {
  position: absolute;
  bottom: calc(50% - 240px);
  left: calc(50% - 128px);
}

#go-calendar {
  position: absolute;
  bottom: calc(50% - 240px);
  left: calc(50% - 30px);
}

#close-app {
  position: absolute;
  bottom: calc(50% - 240px);
  left: calc(50% + 76px);
}

.modal {
  display: none; /* 기본적으로 모달은 숨겨져 있어야 합니다 */
  position: fixed;
  z-index: 1; /* 모달이 다른 내용 위에 나타나도록 설정 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* 반투명 배경 */
  border-radius: 30;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 30;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
