@font-face {
  font-weight: 400;
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
}

body {
  font-family: 'Pretendard-Regular';
  font-weight: bold;
  background-color: #2f4858;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 800px;
  background-color: #2f4858;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  position: relative;
}

.content {
  position: absolute;
  top: 363px; /* 전체 화면 기준 Y축 위치 */
  width: 100%;
  text-align: center;
}
