@font-face {
  font-weight: 400;
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
}

body {
  font-family: 'Pretendard-Regular', sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 800px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.frame-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 335px;
  height: auto;
  transform: translate(-50%, -50%);
}

.title {
  position: absolute;
  top: calc(50% - 280px);
  left: calc(50% - 122px);
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.calendar-container {
  position: absolute;
  top: 58%;
  left: 50%;
  width: 251px;
  height: 400px;
  padding: 10px;
  transform: translate(-50%, -50%);
}

/* calendar */
.calendar {
  width: 100%;
}

.calendar-header {
  width: 103%;
  display: flex;
  margin-bottom: 5px;
}

.day {
  flex: 1;
  text-align: center;
  color: #999999;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7일을 고정된 너비로 표현 */
  width: 100%;
}

.date {
  font-size: 14px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.date.current-month {
  color: #999999;
}

.date.other-month {
  color: #e5e5e5;
}

.date.today {
  color: #ffffff;
  background-color: #2f4858;
  border-radius: 13.93px;
}

.date.diary-day {
  color: #ffffff;
  background-color: #95b1ae;
  border-radius: 13.93px;
}

/* footer */
.footer a {
  font-size: 12px;
  color: #2f4858;
  text-decoration: none;
}

#go-back {
  position: absolute;
  bottom: calc(50% - 280px);
  left: calc(50% - 122px);
}

#go-calendar {
  position: absolute;
  bottom: calc(50% - 280px);
  left: calc(50% - 30px);
}

#close-app {
  position: absolute;
  bottom: calc(50% - 280px);
  left: calc(50% + 76px);
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
}

.close {
  cursor: pointer;
  float: right;
  font-size: 24px;
}