@font-face {
  font-weight: 400;
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
}

body {
  font-family: 'Pretendard-Regular', sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 800px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.frame-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 335px;
  height: auto;
  transform: translate(-50%, -50%);
}

.title {
  position: absolute;
  top: calc(50% - 280px);
  left: calc(50% - 122px);
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.calendar-container {
  position: absolute;
  top: 58%;
  left: 50%;
  width: 251px;
  height: 400px;
  padding: 10px;
  transform: translate(-50%, -50%);
}

/* calendar */
.calendar {
  width: 100%;
}

.calendar-header {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}

.day {
  flex: 1;
  text-align: center;
  color: #999999;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7일을 고정된 너비로 표현 */
  gap: 2px; /* 날짜들 사이의 간격을 동일하게 설정 */
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: auto; /* 날짜들이 중앙에 정렬되도록 설정 */
  box-sizing: border-box;
  font-size: 14px;
}

.date.current-month {
  color: #999999;
}

.date.other-month {
  color: #e5e5e5;
}

.date.today {
  width: 36px;
  height: 36px;
  color: #ffffff;
  background-color: #2f4858;
  border-radius: 14px;
  cursor: pointer;
}

.date.diary-day {
  width: 36px;
  height: 36px;
  color: #ffffff;
  background-color: #95b1ae;
  border-radius: 14px;
  cursor: pointer;
}

.date.future {
  cursor: not-allowed;
}

/* footer */
.footer a {
  font-size: 12px;
  color: #2f4858;
  text-decoration: none;
}

#go-back {
  position: absolute;
  bottom: calc(50% - 280px);
  left: calc(50% - 116px);
}

#go-calendar {
  position: absolute;
  bottom: calc(50% - 280px);
  left: calc(50% - 30px);
}

#close-app {
  position: absolute;
  bottom: calc(50% - 280px);
  left: calc(50% + 76px);
}

/* 모달 창 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 24px; /* 좌우로 24px 간격 */
  right: 24px; /* 좌우로 24px 간격 */
  top: 0;
  width: calc(100% - 48px); /* 좌우로 24px 간격 */
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 16px auto;
  padding: 16px 20px; /* 상하 16px, 좌우 20px 간격 */
  border: 1px solid #888;
  width: calc(100% - 48px); /* 모달 내부 좌우 간격 20px */
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.carousel {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  margin-bottom: 20px;
}
