@font-face {
  font-weight: 400;
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
}

body {
  font-family: 'Pretendard-Regular';
  font-weight: bold;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 800px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content {
  width: 100%;
  padding: 5vh 20px;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  width: calc(100% - 80px);
  flex-direction: row;
  margin-bottom: 38px;
}

.weather-image {
  width: 45px;
  height: 45px;
  margin-right: 20px;
  margin-top: 6px;
}

.date-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.date {
  font-size: 16px;
  margin-top: 5px;
}

.header-text {
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
}

.todo-button {
  display: block;
  width: calc(100% - 80px);
  padding: 10px;
  color: black;
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 32px;
  text-align: left;
}

.diary-textfield {
  width: calc(100% - 40px);
  height: 456px;
  padding: 10px;
  border: 3px dashed #2f4858;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  resize: none;
}

.diary-textfield:focus {
  outline: none;
}

.diary-textfield::placeholder {
  color: #e5e5e5;
  position: relative;
  top: 8px;
  left: 8px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2f4858;
}

.footer a {
  color: #2f4858;
  text-decoration: none;
  font-size: 14px;
  text-decoration: underline;
  text-decoration-color: #97a3ab;
}

.tabbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 800px;
  height: 60px;
  background-color: #f8f9fa;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
}

.tab img {
  width: 48px;
  height: 40px;
  margin-bottom: 5px;
}

/* 모달 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
  text-align: left;
}

.modal-content p {
  padding-bottom: 50px;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  padding-bottom: 6px;
  border-bottom: 1px solid #95b1ae;
}

.check-img,
.pawprint-img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.pawprint-img {
  margin-left: auto;
}

#todo-diary-separator {
  height: 20px;
}
