<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>뽀짝상점</title>
    <link rel="stylesheet" href="../../static/css/ProfilePage/ppjakshop.css" />
    <link rel="stylesheet" href="../../static/css/tabbar.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="header-content">
          <h1>뽀짝상점</h1>
          <div class="points">
            <img
              src="../../static/img/ppojakshop/Star 1.svg"
              alt="Point Icon"
              class="point-icon"
            />1,100P
          </div>
        </div>
        <nav class="nav-buttons">
          <button class="nav-button active">전체</button>
          <button class="nav-button">에코백</button>
          <button class="nav-button">스티커</button>
          <button class="nav-button">텀블러</button>
        </nav>
        <div class="sort">
          <button class="sort-button active">추천순</button>
        </div>
      </header>
      <main>
        <div class="product-grid">
          <div class="product">
            <img
              src="../../static/img/ppojakshop/tumbler1.png"
              alt="뽀짝 투명 텀블러"
            />
            <p>뽀짝 투명 텀블러</p>
            <div class="price">
              <img
                src="../../static/img/ppojakshop/Star 1.svg"
                alt="Price Icon"
                class="price-icon"
              />
              15,000P
            </div>
          </div>
          <div class="product">
            <img
              src="../../static/img/ppojakshop/ecobag1.png"
              alt="뽀짝 에코백"
            />
            <p>뽀짝 에코백</p>
            <div class="price">
              <img
                src="../../static/img/ppojakshop/Star 1.svg"
                alt="Price Icon"
                class="price-icon"
              />
              12,000P
            </div>
          </div>
          <div class="product">
            <img
              src="../../static/img/ppojakshop/ecobag2.png"
              alt="뽀짝 에코백"
            />
            <p>뽀짝 에코백</p>
            <div class="price">
              <img
                src="../../static/img/ppojakshop/Star 1.svg"
                alt="Price Icon"
                class="price-icon"
              />
              12,000P
            </div>
          </div>
          <div class="product">
            <img
              src="../../static/img/ppojakshop/tumbler2.png"
              alt="뽀짝 스텐리 텀블러"
            />
            <p>뽀짝 스텐리 텀블러</p>
            <div class="price">
              <img
                src="../../static/img/ppojakshop/Star 1.svg"
                alt="Price Icon"
                class="price-icon"
              />
              25,000P
            </div>
          </div>
          <div class="product">
            <img
              src="../../static/img/ppojakshop/sticker1.png"
              alt="스티커 1"
            />
            <p>스티커 1</p>
            <div class="price">
              <img
                src="../../static/img/ppojakshop/Star 1.svg"
                alt="Price Icon"
                class="price-icon"
              />
              3,000P
            </div>
          </div>
          <div class="product">
            <img
              src="../../static/img/ppojakshop/sticker3.png"
              alt="스티커 2"
            />
            <p>스티커 2</p>
            <div class="price">
              <img
                src="../../static/img/ppojakshop/Star 1.svg"
                alt="Price Icon"
                class="price-icon"
              />
              3,000P
            </div>
            <!-- 탭바 시작 -->
            <div class="tabbar">
              <a class="tab" href="/haru/main">
                <img src="../../static/img/tabbar/홈-off.png" alt="Home" />
              </a>
              <a class="tab" href="">
                <img
                  src="../../static/img/tabbar/캘린더-off.png"
                  alt="Calendar"
                />
              </a>
              <a class="tab" href="/diary/write">
                <img src="../../static/img/tabbar/일기-off.png" alt="Diary" />
              </a>
              <a class="tab" href="">
                <img
                  src="../../static/img/tabbar/마이페이지-off.png"
                  alt="MyPage"
                />
              </a>
            </div>
            <!-- 탭바 끝 -->
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
