<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar Page</title>
    <link rel="stylesheet" href="../../static/css/Calendarpage/calendar.css">
</head>

<body>
    <div class="container">
        <header>
            <!-- 캘린더 월간통계 -->
            <div class="logoTilte">월간통계</div>
            <div class="calendarHeader">
                <button class="prevMonth">&lt;</button>
                <div class="yearMonth">
                    <span class="year"></span>
                    <span class="month"></span>
                </div>
                <button class="nextMonth">&gt;</button>
                <button class="calendarPic">
                    <img src="/static/img/calendar.png">
                </button>
            </div>
        </header>
        <main>
            <section class="ppojakDay">
                <!-- 섹션 1 : 뽀짝한 날 표시 -->
                <div class="QhWkrgksskf">
                    <!--뽀짝한날넣기-->
                </div>
                <div class="QhWkrvjtpsxm">
                    <!--뽀짝퍼센트넣기-->
                </div>
                <div class="dhksqurQhWkrgksskf">
                    <!--완벽뽀짝한날넣기-->
                </div>
            </section>
            <section class="calendarBody">
                <!-- 섹션 2 : 달력 요일 및 날짜 표시-->
                <div class="calendarWeekdays">
                    <div class="weekday">일</div>
                    <div class="weekday">월</div>
                    <div class="weekday">화</div>
                    <div class="weekday">수</div>
                    <div class="weekday">목</div>
                    <div class="weekday">금</div>
                    <div class="weekday">토</div>
                </div>
                <div class="calendarDays">
                    <!-- 날짜 동적 추가 -->
                </div>
            </section>
        </main>
        <footer>
            <nav class="footerNav">
                <ul>
                    <li>
                        <div>
                            <a href="../MainPage/mainPage.html">
                                <img src="/static/img/homeIcon.png" alt="홈">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="calendar.html">
                                <img src="/static/img/calendarIcon.png" alt="성취도">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="../DiaryPage/writeDiary.html">
                                <img src="/static/img/diaryIcon.png" alt="일기">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="../ProfilePage/index.html">
                                <img src="/static/img/mypageIcon.png" alt="마이페이지">
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
        </footer>
    </div>
    <script src="../../static/js/CalendarPage/calendar.js"></script>
</body>

</html>