@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular";
  background-color: white;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* 웹앱 초기 설정값 */
.container {
  height: max-content;
  width: 100%;
  max-width: 800px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  padding-bottom: 15vh;
}

@media (max-width: 820px) {
  .container {
    width: 100%;
  }
}
.logoTitle {
  font-size: 24px;
  height: 50px;
  width: auto;
}
/* 헤더 스타일 */
/* header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.calendarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 20px;
  width: 100%;
}

.calendarHeader button {
  border: none;
  background-color: white;
  font-size: 18px;
  cursor: pointer;
  margin: 0.25rem;
} */

.container {
  width: 375px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* border-radius: 10px; */
  overflow: hidden;
  position: relative;
}

header {
  padding: 10px;
  /* text-align: center; */
  /* border-bottom: 1px solid #ddd; */
}

h1 {
  font-size: 1.5em;

}

.stats {
  display: flex; /* 자식 요소들을 수평으로 배치 */
  justify-content: space-around; /* 자식 요소들 사이에 공간을 균등하게 배치 */
  align-items: center; /* 자식 요소들을 수직 중앙에 배치 */
}

.stats div {
  display: flex; /* div 내부의 p 요소들을 정렬 */
  flex-direction: column; /* 내부 p 요소들을 수직으로 배치 */
  align-items: center; /* p 요소들을 수평 중앙에 배치 */
  justify-content: center; /* p 요소들을 수직 중앙에 배치 */
  text-align: center; /* p 요소들의 텍스트를 중앙에 정렬 */
  font-size: 1.2rem;
}

.yearMonth {
  flex-direction: row;
  align-items: center;
  width: 8rem;
}

.year,
.month {
  padding: 0.25rem;
}

.calendarPic {
  margin-left: auto;
}

.calendarPic img {
  width: 20px;
}

/* 섹션 2 */
.calendarBody {
  padding: 16px;
}

.calendarWeekdays,
.calendarDays {
  display: flex;
  flex-wrap: wrap;
}

.weekday,
.day {
  width: calc(100% / 7);
  text-align: center;
  padding: 8px 0;
}

.weekday {
  font-weight: bold;
  color: #2f4858;
}

.day {
  margin: 4px 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.day:hover {
  background-color: #e0e0e0;
}

.day.today {
  background-color: #2f4858;
  color: #ffffff;
}

.day.event {
  background-color: #ffeb3b;
  color: #000000;
}

.todo-list {
  padding: 7px;
  border-top: 1px solid #ddd;
}

.todo-list h2 {
  margin: 10px 0;
  display: block;
  font-size: 1.2em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  padding-left: 0.7rem;
}

.todo-list li input[type="checkbox"] {
  margin-right: 10px;
}