<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge Page</title>
    <link rel="stylesheet" href="../../static/css/MainPage/challengePage.css">
</head>

<body>
    <div class="container">
        <header>
            <!-- 챌린지, 검색창 -->
            <div class="logoTitle">하루뽀짝 챌린지</div>
            <div class="searchChallenge">
                <img src="" alt="돋보기">
            </div>
        </header>
        <main>
            <section class="challengeList">
                <!-- 챌린지 모음 -->
                <div class="challengeBox">
                    <div>
                        <div>
                            챌린지 제목
                        </div>
                        <div><span class=""></span>명 참여 중</div>
                        <div>@user_id</div>
                        <div>리워드 : 어쩌고</div>
                    </div>
                    <div>
                        내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    </div>
                </div>
                <div class="challengeBox">
                    <div>
                        <div>
                            챌린지 제목
                        </div>
                        <div><span class=""></span>명 참여 중</div>
                        <div>@user_id</div>
                        <div>리워드 : 어쩌고</div>
                    </div>
                    <div>
                        내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    </div>
                </div>
                <div class="challengeBox">
                    <div class="infoChal">
                        <div>
                            챌린지 제목
                        </div>
                        <div><span class=""></span>명 참여 중</div>
                        <div>@user_id</div>
                        <div>리워드 : 어쩌고</div>
                    </div>
                    <div>
                        내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <nav class="footerNav">
                <ul>
                    <li>
                        <div>
                            <a href="mainPage.html">
                                <img src="/static/img/homeIcon.png" alt="홈">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="../CalendarPage/calendar.html">
                                <img src="/static/img/calendarIcon.png" alt="성취도">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="../DiaryPage/writeDiary.html">
                                <img src="/static/img/diaryIcon.png" alt="일기">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="../ProfilePage/index.html">
                                <img src="/static/img/mypageIcon.png" alt="마이페이지">
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
        </footer>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div id="modalText"></div>
            </div>
        </div>
    </div>

    <script src="../../static/js/MainPage/challengePage.js">c</script>
</body>

</html>