<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Main Page</title>
  <link rel="stylesheet" href="{{ url_for('static', path='css/MainPage/mainPage.css') }}">
  <link rel="stylesheet" href="../../static/css/tabbar.css" />
</head>

<body>
  <div class="container">
    <header>
      <!-- 로고, 하루뽀짝, 날짜표시 -->
      <div class="logo">
        <img class="ppojakLogo" src="{{ url_for('static', path='img/haruppojak_logo.png') }}" alt="haruppojak" />
        <div id="haruPpojak">하루뽀짝</div>
      </div>
      <div class="date" id="dateContainer">
        <div id="past2" class="date-element"></div>
        <!-- class 추가 -->
        <div id="past1" class="date-element"></div>
        <!-- class 추가 -->
        <div id="today" class="date-element"></div>
        <!-- class 추가 -->
        <div id="future1" class="date-element"></div>
        <!-- class 추가 -->
        <div id="future2" class="date-element"></div>
        <!-- class 추가 -->
      </div>
    </header>
    <main>
      <section class="todoList">
        <!-- 섹션 1 : 투두 리스트 -->
        <ul id="todoListContainer">
          <!-- /haru/intro에서 작성한 ToDo 항목 불러오는 곳 -->
          {% for todolist in todos %}
          <li class="todoListContainer" name="{{ todolist.id }}">
            <div class="todoWrapperBig">
              <div class="todoWrapperSmall">
                {% if todolist.check == 1 %}
                <img src="{{ url_for('static', path='img/MainPage/checkboxBlack.svg') }}" class="todoCheck"
                  data-checked="1">
                {% else %}
                <img src="{{ url_for('static', path='img/MainPage/checkboxWhite.svg') }}" class="todoCheck"
                  data-checked="0">
                {% endif %}
                <div class="todoText">{{ todolist.todo }}</div>
              </div>
              <div class="todoWrapperBtn">
                <button class="optionBtn" data-id="{{ todolist.id }}">
                  <img src="{{ url_for('static', path='img/MainPage/moreTodo.svg')}}" alt="더보기">
                </button>
                <div class="options" style="display: none;">
                  <button class="editTodo" data-id="{{ todolist.id }}"><img
                      src="{{ url_for('static', path='img/MainPage/editTodo.svg')}}" alt="수정"></button>
                  <button class="deleteTodo" data-id="{{ todolist.id }}"><img
                      src="{{ url_for('static', path='img/MainPage/deleteTodo.svg')}}" alt="삭제">
                  </button>
                </div>
              </div>
            </div>
            <hr>
          </li>
          {% endfor %}
        </ul>
        <ul id="addTodoList">
          {% block li %}
          {% include 'createTodoPage.html'%}
          {% endblock %}
        </ul>
      </section>
      <section class="recommendation">
        <!-- 섹션 2 : 나이대 추천 뽀짝 -->
        <div>
          <span id="age">{{ age }}0</span>대 추천 뽀짝!
        </div> <!--이 부분에 나이 받는거 넣기-->
        <ul>
          <li>
            <input type="checkbox">
            <input type="text" placeholder="{{ recommendTodo[0]|escape }}" class="todoContent">
          </li>
          <li>
            <input type="checkbox">
            <input type="text" placeholder="{{ recommendTodo[1]|escape }}" class="todoContent">
          </li>
        </ul>
      </section>
      <section class="challenges">
        <!-- 섹션 3 : 뽀짝챌 이게대체뭐지???-->
        <div class="description">
          <span class="challengeDes1">현재 참여중인 뽀짝챌 </span>
        </div>
        <div class="challengeList">
          {% for challenge in joinedChallenge %}
            <div class="challengeItem">
              <div class="challengeBox">
                <img src="{{ url_for('static', path='img/ChallengeImg/' ~ challenge.challengeThumbnail1) }}" alt="">
              </div>
              <div class="challengeTitle">{{ challenge.challengeTitle }}</div>
            </div>
            {% endfor %}
            <div id="challengeBoxMore" class="challengeBox">
              <div>챌린지 더보기</div>
            </div>
        </div>
          <div class="dots"></div>
      </section>
    </main>

    <!-- 탭바 시작 -->
    <div class="tabbar">
      <a class="tab" href="/haru/main">
        <img src="../../static/img/tabbar/홈-off.png" alt="Home" />
      </a>
      <a class="tab" href="/calendar">
        <img src="../../static/img/tabbar/캘린더-off.png" alt="Calendar" />
      </a>
      <a class="tab" href="/diary/write">
        <img src="../../static/img/tabbar/일기-off.png" alt="Diary" />
      </a>
      <a class="tab" href="/haru/mypage">
        <img src="../../static/img/tabbar/마이페이지-off.png" alt="MyPage" />
      </a>
    </div>

    <!-- Modal -->
    <div id="modal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <div id="modalText"></div>
      </div>
    </div>
    </main>
  </div>

  <script src="{{ url_for('static', path='js/MainPage/mainPage.js') }}">
  </script>
  <script src="{{ url_for('static', path='js/MainPage/mainPageModal.js') }}">
  </script>
</body>
</html>
