<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reply</title>
    <link
      rel="stylesheet"
      href="../../static/css/DiaryPage/diaryCalendar.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <img
          src="../../static/img/DiaryPage/Frame.png"
          alt="Frame Image"
          class="frame-image"
        />
        <div class="title">뽀짝일기 달력</div>
        <!-- Calendar container to hold the calendar -->
        <div class="calendar-container">
          <div class="calendar">
            <div class="calendar-header">
              <div class="day">일</div>
              <div class="day">월</div>
              <div class="day">화</div>
              <div class="day">수</div>
              <div class="day">목</div>
              <div class="day">금</div>
              <div class="day">토</div>
            </div>
            <div class="calendar-body">
              <!-- Dates will be added here dynamically -->
            </div>
          </div>
        </div>
        <!-- footer -->
        <div class="footer">
          <a href="#" onclick="goBack()" class="footer-link" id="go-back"
            >돌아가기</a
          >
          <a href="#" class="footer-link" id="go-calendar">뽀짝일기 달력</a>
          <a href="#" onclick="closeApp()" class="footer-link" id="close-app"
            >뽀짝 종료</a
          >
        </div>
      </div>
    </div>
    <div id="diaryModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <div class="modal-body"></div>
      </div>
    </div>
    <script>
      window.diaries = {{ diaries | tojson | safe }};
      console.log(window.diaries);
    </script>
    <script src="../../static/js/DiaryPage/diaryCalendar.js"></script>
  </body>
</html>
