<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reply</title>
    <link rel="stylesheet" href="../../static/css/DiaryPage/reply.css" />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <img
          src="../../static/img/DiaryPage/Frame.png"
          alt="Frame Image"
          class="frame-image"
        />
        <div class="title">뽀짝이의 답장</div>
        <div class="date" id="current-date"></div>
        <div class="reply-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
          imperdiet, urna at ullamcorper condimentum, justo arcu facilisis
          velit, ut facilisis libero libero vel nisi. Duis nec dolor nec quam
          ullamcorper bibendum. Ut bibendum, orci non vehicula volutpat, odio
          nisl dignissim lorem, nec malesuada nisl urna ut nunc. Aliquam erat
          volutpat. Ut tempor orci a nisi commodo, in malesuada turpis euismod.
          Suspendisse potenti. Phasellus et libero nec ligula placerat luctus.
        </div>
        <div class="footer">
          <a href="#" onclick="goBack()" class="footer-link" id="go-back"
            >돌아가기</a
          >
          <a
            href="#"
            onclick="goToCalendar()"
            class="footer-link"
            id="go-calendar"
            >뽀짝일기 달력</a
          >
          <a href="#" onclick="closeApp()" class="footer-link" id="close-app"
            >뽀짝 종료</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
