<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reply</title>
    <link rel="stylesheet" href="../../static/css/DiaryPage/reply.css?v=1.0" />
    <link rel="stylesheet" href="../../static/css/tabbar.css" />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <img
          src="../../static/img/DiaryPage/Frame.png"
          alt="Frame Image"
          class="frame-image"
        />
        <div class="title">뽀짝이의 답장</div>
        <div class="date" id="current-date"></div>
        <div class="reply-text">{{ reply }}</div>
        <div class="footer">
          <a href="#" onclick="goBack()" class="footer-link" id="go-back"
            >돌아가기</a
          >
          <a
            href="#"
            onclick="goToCalendar()"
            class="footer-link"
            id="go-calendar"
            >뽀짝일기 달력</a
          >
          <a href="#" onclick="closeApp()" class="footer-link" id="close-app"
            >뽀짝 종료</a
          >
        </div>

        <!-- 탭바 -->
        <div class="tabbar">
          <a class="tab" href="/haru/main">
            <img src="../../static/img/tabbar/홈-off.png" alt="Home" />
          </a>
          <a class="tab" href="/haru/calendar">
            <img src="../../static/img/tabbar/캘린더-off.png" alt="Calendar" />
          </a>
          <a class="tab" href="/diary/write">
            <img src="../../static/img/tabbar/일기-off.png" alt="Diary" />
          </a>
          <a class="tab" href="/haru/mypage">
            <img
              src="../../static/img/tabbar/마이페이지-off.png"
              alt="MyPage"
            />
          </a>
        </div>
      </div>
    </div>
    <script src="../../static/js/DiaryPage/reply.js?v=1.0"></script>
  </body>
</html>
