<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge List</title>
</head>
<body>
    <ul>
        {% for challenge in challengeList %}
        <li class="ChallengeList">
            <h2>{{ challenge.challengeTitle }}</h2>
            <p>{{ challenge.challengeComment }}</p>
            <p>Reward: {{ challenge.challengeReward }}</p>
            <p>Created At: {{ challenge.created_at }}</p>
            <p>{{ challenge.challengeThumbnail1 }}</p>
            <img src="{{ url_for('static', path='img/ChallengeImg/' ~ challenge.challengeThumbnail1) }}" alt="Challenge Thumbnail">
        </li>
        {% endfor %}
    </ul>
</body>
</html>
