<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/AuthPage/HaruPpojakCamera.css') }}"/>
    <script src="{{ url_for('static', path='js/AuthPage/HaruPpojakCamera.js') }}" defer></script>
    <title>Document</title>
</head>
<body>
    <video id="userCam" autoplay></video>
    <button onclick="capture()">Capture</button>
    <button onclick="stop()">Stop Camera</button>
    <div class="result"></div>
</body>
</html>
