<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/AuthPage/HaruPpojakSignUp.css') }}"/>
    <script src="{{ url_for('static', path='js/AuthPage/HaruPpojakSignUp.js') }}" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="HPIntroBox">
        <h1 class="HPIntroTitleBox">
            <div class="HPIcon">ㅇ</div>
            <div class="HPTitle">하루뽀짝</div>
        </h1>
    </div>
    <form action="post" class="SignUpForm">
        <div class="FirstForm active">
            <input type="text" id="ID" placeholder="아이디를 입력해주세요.">
            <input type="password" id="PW" placeholder="비밀번호를 입력해주세요.">
            <input type="password" id="PWCheck" placeholder="비밀번호를 다시 입력해주세요.">
            <input type="button" class="NextBtn" value="다음">
        </div>
        <div class="SecondForm">
            <input type="text" id="Name" placeholder="이름을 입력해주세요.">
            <input type="text" id="Email" placeholder="이메일을 입력해주세요.">
            <input type="text" id="Birth" placeholder="생년월일 6자리를 입력해주세요.">
            <input type="submit" class="SignUpComplete" value="가입하기" onclick="goToSignInPage()">
        </div>
    </form>
</body>
</html>
