<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/AuthPage/HaruPpojakCamera.css') }}"/>
    <script src="{{ url_for('static', path='js/AuthPage/HaruPpojakCamera.js') }}" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="videoSpace">
            <video class="Camera" id="userCam" autoplay></video>
        </div>
        <div class="BtnSpace">
            <button class="CaptureBtn" onclick="capture()">Capture</button>
            <button class="StopBtn" onclick="stop()">Stop</button>
        </div>
        <div class="result"></div>
    </div>
</body>
</html>
