<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/AuthPage/HaruPpojakLoginMenu.css') }}"
    />
    <script
      src="{{ url_for('static', path='js/AuthPage/HaruPpojakLoginMenu.js') }}"
      defer
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="HPIntroBox">
        <h1 class="HPIntroTitleBox">
          <div class="HPIcon">
            <img
              class="ppojakLogo"
              src="{{ url_for('static', path='img/haruppojak_logo.png') }}"
              alt="haruppojak"
            />
          </div>
          <div class="HPTitle">하루뽀짝</div>
        </h1>
        <div class="HPIntroComment">
          <div>매일 조금씩 뽀짝뽀짝</div>
          <div>
            굿모닝을 위한 당신의
            <span class="MiracleEveningTxt">미라클이브닝</span> 도우미
          </div>
        </div>
      </div>
      <div class="LoginBars">
        <div>
          <img
            class="kakaoBar"
            src="{{ url_for('static', path='img/AuthPage/kakao_login_medium_wide.png') }}"
            alt="카카오 로그인"
          />
        </div>
        <div class="LocalLoginBar" onclick="goToSignInPage()">로그인</div>
      </div>
    </div>
  </body>
</html>
